snippet p3 "generate proto3 syntax"
syntax = "proto3";
$0
endsnippet

snippet message "define a message" b
message ${1:Name} {
    $0
}
endsnippet

snippet gopack "option go_package=" b
option go_package = ".;${0:package}";
endsnippet
