snippet #! "SheBang header for python scripts" b
#! /usr/bin/env python
# -*- coding: utf-8 -*-

$0
endsnippet

snippet # "Set file codec" b
# -*- coding: utf-8 -*-

$0
endsnippet

snippet abs "absolute import"
from __future__ import absolute_import

endsnippet
